{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ method.name }}{% endblock %}

{% block content %}
<h1>{{ method.name }}</h1>

{% if help_items %}
  <h3>About this method</h3>
  <ul>
    {% for tip in help_items %}<li>{{ tip }}</li>{% endfor %}
  </ul>
{% endif %}

<h3>Input</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% trans "Solve" %}</button>
</form>

{% if error %}
  <h3>Error</h3>
  <pre>{{ error }}</pre>
{% endif %}

{% if console %}
  <h3>Console output</h3>
  <pre>{{ console }}</pre>
{% endif %}
{% endblock %}
